* {
    padding: 0;
    margin: 0;
}

.simpson-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    justify-content: space-around;
    padding: 25px 0;
}

.simpson {
    display: flex;
    justify-content: space-between;

    width:50%;
    border: 1px solid aquamarine;
    border-radius: 10px;
    padding: 10px;
}

.simpson img {
    width: 120px;
}


.characters-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    justify-content: space-around;
}

.character {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 18%;
    border: 1px solid darkviolet;
    border-radius: 10px;
    padding: 10px;
}

.character img {
    width: 200px;
}


.products-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 18%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.product-title {
 font-size:35px;
}

.product img {
    width: 300px;
}
